.carousel{
    height: 88vh;
    position: relative;
    top: 100px;
    overflow: hidden;
}

.carousel-captions{
    position: absolute;
    height: 55vh;
    width: 30%;
    top: 20vh;
    left: 10vh;
    z-index: 50;
}

.captions-bottom button{
    height: 80px;
    width: 250px;
    border: none;
    font-size: 25px;
}

@media only screen and (max-width: 1800px){
    .carousel{
        height: fit-content;
        position: relative;
        top: 70px;
        overflow: hidden;
    }
}

@media only screen and (max-width: 568px){
    .carousel-inner{
        height: fit-content;
    }

    .carousel-item{
        height: fit-content;
    }

    .carousel-item img{
        width: 100%;
        height: auto !important;
    }
}