.design-section{
    position: relative;
    top: 170px;
}

.design{
    position: relative;
    width: 350px;
    max-height: 400px;
    overflow: hidden;
    border-radius: 10px;
}

.design-img{
    filter: brightness(80%);
}

.design-texts{
    position: absolute;
    bottom: 40px;
    left: 80px;
}

.design-texts h3{
    color: rgb(243, 243, 243);
}

.design-texts p{
    color: rgb(235, 235, 235);
    font-size: 16px;
}