.filter-section{
    width: 25%;
    margin-top: 5vh;
}

.filter-category{
    margin-bottom: 13px;
    font-weight: 500;
}

.allproducts .card-body{
    width: 75%;
    height: fit-content;
    text-align: center;
    cursor: pointer;
}

.allproducts .ready-row .style-card{
    max-height: 450px;
}

.products-page{
    position: relative;
    top: 160px;
}

@media only screen and (min-width: 768px){
    .all-search{
        width: 75% !important;
    }
    .all-form button{
        right: 13% !important;
    }
}

@media only screen and (max-width: 768px){
    .products-page{
        position: relative;
        top: 100px;
    }
    .filter-section{
        display: none;
    }
    .allproducts{
        width: 100% !important;
    }
    .allproducts .ready-row{
        justify-content: center !important;
    }
}